@tailwind base;
@tailwind components;
@tailwind utilities;

/* classes defined here will always be included in the output css, but that is okay since
they will always be used */

@font-face {
  font-family: 'GDSTransport';
  src: url('../fonts/gds-light-w2-v2.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GDSTransport';
  src: url('../fonts/gds-bold-w2-v2.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Button Styles */
.button {
  --border: theme('borderWidth.form');
  --shadow: var(--border);

  padding: calc(theme('spacing.2') - var(--border)) theme('spacing.2')
    calc(theme('spacing.2') - var(--border) - calc(var(--shadow) / 2));

  box-shadow: 0 var(--shadow) 0 var(--tw-shadow-color);

  &:focus:not(:active):not(:hover) {
    box-shadow: 0 var(--shadow) 0 var(--tw-shadow-color);
  }

  &::before {
    @apply absolute block content-[""];

    top: calc(var(--border) * -1);
    left: calc(var(--border) * -1);
    right: calc(var(--border) * -1);
    bottom: calc(calc(var(--border) + calc(var(--shadow) / 2)) * -1);
  }

  &:active::before {
    top: calc(calc(var(--border) + var(--shadow)) * -1);
  }
}
